/*--CSS RESET--*/

*{
    border: none;
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #000000;
    background-image: url(../images/characters_art_mas_mob_01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.hidden{
    display: none;
}

header{
    background-color: rgb(255, 255, 255);
    color: #000000;
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

header nav{
    list-style-type: none;
    margin: 0 10px 0 auto;
}

header nav ul{
    margin-top: 15px;
    margin-bottom: 30px;
    
}

header nav ul li::after {
    content: "\25b6";
    padding-left: 4px;
    visibility: visible; 
    transition:color 1s; 
}

header nav ul li:hover::after {
    visibility: visible; 
    color: aqua;
    content: "\25bc";
    
}

header nav ul {
    margin-top: 45px;
    margin-bottom: 30px;
}

header nav ul li {
    margin: 8px;
    display: inline;
    cursor: pointer;
}

header nav ul li:hover {
    color: aqua;
}


#main-logo{
    width:200px;
}
#top-svg {
    width: 90px;
    height: 50px;
    padding: 25px 0 0 5px;
    
}

#date-time{
    position: fixed;
}

#realtimeclock::after {
      content: "\023F1";
}



#realdate{
    color: #ffffff;
    margin-left: 20px;
    margin-top: -20px;
    font-weight: bolder;
}

#realtimeclock{
    color: #000000;
    width: 120px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: -125px;
    margin-left: 1140px;
    content: "\023F1";
}

main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article {
    width: 320px;
    border: 4px solid white;
    border-radius: 8px;
    margin: 10px 12px;
    text-align:left;

}

article > h2 {
    color: grey;
    padding: 4px 8px;

}

article:first-of-type {
    border: 4px solid grey;
}

#inprogress {
    border: 4px solid red;
   
}

#inprogress h2 {
    color: red;
}

#done {
    border: 4px solid greenyellow;
}

#done h2 {
    color: greenyellow;
}

article > ul{
    list-style-type: none;
}

ul li {
    padding: 6px 8px;
}

.do li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.progress li:nth-child(odd) {
    background-color: rgba(248, 0, 0, 0.2);
}

.fin li:nth-child(odd) {
    background-color: rgba(187, 255, 0, 0.2);
}



label{
    margin-left: 5px;
    margin-top: 5px;
    display: flex;   
}

span{
    margin-left: 10px;
    margin-top: 5px;
}


#todo li label::before {
    display:flex;
    content: "\1F3AF";  
}


#done input[type="checkbox"]::after {
    margin-right: 80px;
    display:flex;
    margin-left: 280px;
    content: "\1F60A";  
}

#done input[type="checkbox"]:checked::after{
    content: "\2705";
    margin-left: 280px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: fadeIn 0.7s;

}


@keyframes fadeIn{
    from{opacity: 0;}
    to {opacity: 1;}
}


#inprogress input[type="checkbox"]::after {
    margin-right: 80px;
    display:flex;
    margin-left: 280px; 
}

#inprogress input[type="checkbox"]:checked::after{
    content: "\231B";
    margin-left: 280px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: rotate  0.8s infinite;

}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(306deg);
    }
}

#inprogress input[type="checkbox"]:checked +  span {
    color: rgb(255, 0, 0); 
    background-color: blue;
    
    border-radius: 10%;
    animation: select  0.8s;
}

#done input[type="checkbox"]:checked +  span {
    color: rgb(0, 255, 34); 
    background-color: blue;
    
    border-radius: 10%;
    animation: select  0.8s;
}

@keyframes select{
    from{opacity: 0;}
    to {opacity: 1;}
}

